@each $weight in 400, 700, 900 {
	@font-face {
		font-weight: $weight;
		font-style: normal;
		font-family: "Inter";
		font-display: swap;
		src: url("../fonts/inter-#{$weight}.woff2") format("woff2");
	}
}
