.popover {
	position: relative;
}

.popover__title {
	display: flex;
	list-style: none;
	cursor: pointer;

	@include interactive-transitions;

	&--arrow::after {
		content: "";
		flex-shrink: 0;
		width: 1rem;
		height: 1rem;
		margin: 2px 0 0 7px;
		background-color: currentColor;
		transition: transform $transition-default, margin-top $transition-default;

		@include graphic-icon("arrow-down");
	}
}

.popover__dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	display: block;
	margin: 0.5rem 0 0;
	background-color: $color-basic-extra-light;
	border-radius: 0.25rem;
	box-shadow: $shadow-medium;
	animation: fade-in $transition-appear;

	&--big-shadow {
		box-shadow: $shadow-big;
	}

	&--right {
		right: 0;
		left: auto;
	}
}

.popover[open] {
	.popover__title {
		color: $color-basic-extra-light;
		background-color: $color-special-bright;

		&:hover {
			opacity: 0.6;
		}

		&:active {
			opacity: 0.3;
		}

		@include interactive-focus {
			border-color: $color-basic-black;
		}

		&--arrow::after {
			margin-top: 4px;
			transform: scaleY(-1);
		}
	}
}
