.promotion {
	display: flex;
	flex-direction: column;
	gap: 28px;
	padding: 36px 220px 36px 36px;
	background-color: $color-special-neutral;
	background-repeat: no-repeat;
	background-position: 100% 100%;
	border-radius: 1rem;

	&--raspberry {
		@include graphic-retina("promotion-raspberry");
	}

	&--marshmallow {
		@include graphic-retina("promotion-marshmallow");
	}
}

.promotion__title {
	margin: 0;

	@include text-h3;
}

.promotion__description {
	margin: 0;
}

.promotion__link {
	align-self: flex-start;
	margin-top: auto;
	text-decoration: none;
}
