.promo {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 241px;
	align-items: center;
	gap: 4px 57px;
	padding: 21px 0 0;
}

.promo__list {
	display: grid;
	grid-template-areas: "slide";
	margin: 0;
	padding: 0;
	list-style: none;
}

.promo__item {
	display: grid;
	grid-template-columns: 1fr 327px;
	grid-area: slide;
	align-items: center;
	gap: 40px;
}

.promo__content {
	padding: 37px 0 2rem 70px;
}

.promo__title {
	margin: 0 0 1.5rem;

	@include text-h1;
}

.promo__description {
	margin: 0 0 3rem;

	@include text-primary;
}

.promo__button {
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
}

.promo__picture,
.promo__tile {
	position: relative;
	z-index: 1;

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		right: 0;
		left: 0;
		z-index: -1;
		background-color: rgba($color-basic-extra-light, 0.3);
		border-radius: 50%;
	}
}

.promo__picture {
	&::before {
		height: 312px;
		transform: translateY(-152px);
	}

	img {
		margin: 0 auto;
	}
}

.promo__ring {
	position: absolute;
	top: 50%;
	z-index: 1;
	display: flex;
	width: 38px;
	height: 38px;
	color: $color-basic-extra-light;
	background-color: rgba($color-basic-extra-light, 0.3);
	border: 2px solid $color-basic-extra-light;
	border-radius: 50%;
	outline: none;
	transform: translateY(-50%);
	cursor: pointer;
	user-select: none;

	@include interactive-transitions;

	&::before {
		content: "";
		width: 1rem;
		height: 1rem;
		margin: auto;
		background-color: currentColor;

		@include graphic-icon("arrow");
	}

	&--prev {
		right: 605px;

		&::before {
			transform: scaleX(-1);
		}
	}

	&--next {
		right: 280px;
	}

	&:hover {
		color: inherit;
		background-color: $color-basic-extra-light;
		border-color: $color-basic-extra-light;
	}

	&:active {
		background-color: rgba($color-basic-extra-light, 0.5);
		border-color: transparent;
	}

	&:disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	@include interactive-focus {
		color: inherit;
		background-color: rgba($color-basic-extra-light, 0.3);
		border-color: currentColor;
	}
}

.promo__tiles {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 41px;
	margin: 12px 0 0;
	padding: 0;
	list-style: none;
}

.promo__tile {
	width: 100px;
	height: 150px;
	background-color: transparent;
	background-size: contain;
	border: none;
	opacity: 0.4;
	cursor: pointer;
	user-select: none;

	@include interactive-defaults;

	&::before {
		height: 100px;
		transform: translateY(-50%);
	}

	&--1 {
		@include graphic-retina("promo-1");
	}

	&--2 {
		@include graphic-retina("promo-2");
	}

	&--3 {
		@include graphic-retina("promo-3");
	}
}

.promo__pager {
	display: grid;
	grid-template-columns: repeat(auto-fill, 12px);
	gap: 0.5rem;
	align-self: end;
	margin: 0;
	padding: 0;
	list-style: none;
}

.promo__pager-item {
	width: 12px;
	height: 12px;
	background-color: rgba($color-basic-extra-light, 0.3);
	border: 1px solid transparent;
	border-radius: 50%;
	outline: none;
	cursor: pointer;
	user-select: none;

	@include interactive-transitions;

	&:hover {
		border-color: $color-basic-extra-light;
	}

	&:active {
		background-color: rgba($color-basic-extra-light, 0.5);
		border-color: transparent;
	}

	@include interactive-focus {
		background-color: rgba($color-basic-extra-light, 0.3);
		border-color: $color-basic-extra-dark;
	}

	&--current {
		background-color: $color-basic-extra-light;
		cursor: default;
		pointer-events: none;
	}
}

.promo__socials {
	justify-content: end;
	margin: 0;
}
